        <div class="row">
            <div class="jumbotron">
            <h1 class="">Getting Started with Riot Games API</h1>
            </div>
        </div>
<!--<h2 class="page-header">How to Implement Class(like) Behavior In JavaScript</h2>-->
<p><a href="https://en.wikipedia.org/wiki/Riot_Games">Riot Games</a> is a video game publisher, developer, and esports tournament organizer established in 2006.  Their most popular game is called <abbr>LoL</abbr> (League of Legends).  Released in North America and Europe in October, 2009, it has quickly gained a huge playerbase, where in 2014, it was found that <a href="http://www.riotgames.com/articles/20140711/1322/league-players-reach-new-heights-2014">more than 27 million people play at least one game of League of Legends a day. </a> Also, over 7.5 million players play simultaneously LoL during daily peak hours.  This means that there are huge amounts of data of the games and it's players, all the time.</p>

<p>Riot Games gives anyone with a League of Legends account, access to their API service, where people can pull data from their database to build their own applications.  We will be learning how to use the basics of this API in this short guide.</p>

<h3>Official Documentation</h3>
<p>A lot of sources were used to develop this tutorial. The main one was the <a href="https://developer.riotgames.com/">Riot Games Developer API Documentation</a>.</p>

<h3>Prerequisites</h3>

<p>In order to follow along with this guide, you will need:</p>
    <ul>
        <li>A League of Legends Account </li>
        <li>League of Legends knowledge </li>
        <li>A Riot Games Development Key </li>
    </ul>
<p>Also you will need an understanding of these:</p>
    <ul>
        <li>The Basics of JSON </li>
        <li>JavaScript Objects and Prototypes. You can check out this <a href="https://github.com/getify/You-Dont-Know-JS/blob/master/this%20&%20object%20prototypes/ch5.md">free resource from <cite>You Don't Know JS</cite></a> to get an overview if the concept is unfamiliar to you</li>
    </ul>
<p>The goal of this online guide is not to review the main concepts above but instead to apply their ideas to be able to use the API.  As you read this guide, you'll see other links to outside resources that can help you understand further.  I highly encourage that you take a look at these whenever they arise.</p>


<h3>Compatability</h3>

<p>This guide was written with Mac OSX and El Capitan running with Google Chrome. To run the samples in Windows, it should be the same just by typing the API calls into a browser of your choice.  </p>








